.terrain-detailed,
.building {
    display: block;
    position: absolute;
    transition: opacity ease-in-out 0.25s;
}

.terrain-detailed {
    z-index: 12;
}

.building {
    z-index: 13;
    opacity: 0.7;
    border-style: dashed;
    border-color: wheat;
    border-width: 1px;
    &:hover {
        cursor: pointer;
        border-style: dashed;
        border-color: white;
        border-width: 3px;
        opacity: 1;
    }
}
