@font-face {
    font-family: '8-bit Limit';
    src: url('../../Assets/8-bit-limit.ttf');
    font-weight: normal;
    font-style: normal;
}

.child-window {
    position: absolute;
    left: 2.5%;
    top: 60%;
    user-select: none;
    opacity: 1;
    animation-name: windowFadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.18s;
}

.child-window-header,
.child-window-header-options,
.child-window-background,
.locationSubtitle {
    display: block;
    position: absolute;
}

.child-window-header {
    z-index: 101;
    width: 100%;
    height: auto;
}

.child-window-header-options {
    z-index: 102;
    &:hover {
        cursor: pointer;
    }
    right: 2.9%;
    top: 1.25%;
}

.child-window-background {
    z-index: 11;
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.38);
}

.locationSubtitle {
    width: 200px;
    height: auto;
    z-index: 100;
    left: 19.5%;
    bottom: 5%;
    text-align: center;
}

.subtitle {
    margin: 0;
    padding: 0;
    font-family: '8-bit Limit';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    opacity: 1;
    color: lightgoldenrodyellow;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    animation-name: windowFadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    border: 1px wheat solid;
    border-left: none;
    border-right: none;
}
